.contact-content{
    padding:50px;
    background-color: rgba(0, 0, 0, 0.9);
    height: 100px;
    width: 300px;
    margin-left: 50px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: white;
    align-self: flex-start;
}

.contact-title{
    font-size: 50px;
}


.contact-description{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap:10px;
    font-size: 20px;
}